.song-in-list, .sm2-menu {
    cursor: pointer;
    cursor: hand;
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

html, body {
    background-color: black;
}

.masonry-brick {
    width: 20%;
    border: 5px solid black;
}

@media (max-width: 1200px) {
    .masonry-brick {
        width: 25%;
    }
}

@media (max-width: 1000px) {
    .masonry-brick {
        width: 33%;
    }
}

@media (max-width: 800px) {
    .masonry-brick {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .masonry-brick {
        width: 100%;
    }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */

.grid div {
    opacity: 0;
}

.grid {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.grid div.shown,
.no-js .grid div,
.no-cssanimations .grid div {
    opacity: 1;
}

.grid > div.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip .8s ease-in-out forwards;
    animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
    0% {
    }
    100% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes flip {
    0% {
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.sm2-bar-ui.fixed .bd.sm2-playlist-drawer.open-drawer {
    height: 150px;
    opacity: 1;
}

.demo {
    display: table;
    margin: 0 auto;
}

#container {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

select {
    font-weight: bold;
    color: white;
    border-radius: 15px;
    text-align: center;
    text-align-last: center;
    background: #2980b9;
    padding: 5px 30px 5px 5px;
    font-size: 18px;
    -webkit-appearance: none;
    -webkit-border-style: none;
    -moz-appearance: none;
    text-shadow: 2px 2px 4px #000000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.85);
    display:block;
    margin: 0 auto;
    top: 50%;
    left: 45%;
    position: absolute;
}

input[type='text'] {
    text-align: center;
    height: 1.75em;
    width: 100%;
    border-radius: 15px;
    font-size: 1.5em;
    outline: none;
}
form {
    text-align:center;
    margin: 0 auto;
    width: 20%;
    top: 40%;
    left: 40%;
    position: absolute;
}