<!DOCTYPE html>
<html ng-app="yutrippin">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body ng-controller="TrippinController">
  <input type="submit" value="authorize insta" ng-click="instagram()">

  <input type="text" ng-model="query">
  <input type="submit" ng-click="search(query)">
  <div id="pics">
    <div ng-repeat= "pic in instaPics">
      <img ng-src="{{ pic }} "></img>
    </div>
    <div id="songs">
      <button value='play' ng-repeat="sound in sounds" ng-click='sound.play()'></button>
    </div>
  </div>
  <script type="text/javascript" src="javascript/lodash.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/script/soundmanager2-jsmin.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script type="text/javascript" src="javascript/angular-route.min.js"></script>
  <script type="text/javascript" src="javascript/angular-simple-logger.min.js"></script>
  <script type="text/javascript" src="javascript/angular-google-maps.min.js"></script>
  <script type="text/javascript" src="javascript/app.js"></script>
  <script>
  soundManager.setup({
    url: 'javascript/swf',
    flashVersion: 9,
    onready: function(){
    }
  });
  </script>
</body>
</html>