<!DOCTYPE html>
<html ng-app="yutrippin">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body ng-controller="TrippinController">
  <input type="submit" value="authorize insta" ng-click="instagram()">

  <input type="text" ng-model="query">
  <input type="submit" ng-click="search(query)" immediate>
  <div id="pics">
    <div ng-repeat= "pic in instaPics">
      <img ng-src="{{ pic }} "></img>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="CSS/bar-ui.css">
  <script type="text/javascript" src="javascript/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script type="text/javascript" src='javascript/bower_components/angular-soundmanager2/dist/angular-soundmanager2.js'></script>
  <script type="text/javascript" src='javascript/bar-ui.js'></script>
  <script type="text/javascript" src="javascript/angular-route.min.js"></script>
  <script type="text/javascript" src="javascript/angular-simple-logger.min.js"></script>
  <script type="text/javascript" src="javascript/angular-google-maps.min.js"></script>
  <script type="text/javascript" src="javascript/app.js"></script>
  <script>
  soundManager.setup({
    url: 'javascript/swf',
    flashVersion: 9,
    onready: function(){
    }
  });
  </script>

  <sound-manager></sound-manager>
  <div class="sm2-bar-ui full-width fixed" ng-show="sounds">

   <div class="bd sm2-main-controls">

    <div class="sm2-inline-texture"></div>
    <div class="sm2-inline-gradient"></div>

    <div class="sm2-inline-element sm2-button-element">
     <div class="sm2-button-bd">
      <a href="#play" class="sm2-inline-button play-pause paused" ng-class="{playing: isPlaying}" play-pause-toggle>Play / pause</a>
    </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target">
       <ul>
         <li><b>{{currentPlaying.title}}</b><span class="label">{{mixTitle}} Mix</span></li>
       </ul>
     <noscript><p>JavaScript is required.</p></noscript>
   </div>
 </div>

 <div class="sm2-progress">
  <div class="sm2-row">
    <div class="sm2-inline-time">{{currentPostion}}</div>
    <div class="sm2-progress-bd">
      <div class="sm2-progress-track" seek-track>
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball" ng-style="{left : ( progress + '%' ) }"><div class="icon-overlay"></div></div>
     </div>
   </div>
   <div class="sm2-inline-duration">{{currentDuration}}</div>
 </div>
</div>

</div>

<div class="sm2-inline-element sm2-button-element sm2-volume" mute-music>
 <div class="sm2-button-bd">
  <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
  <a class="sm2-inline-button sm2-volume-control" ng-class="{muted: mute, unmuted: !mute}" >volume</a>
</div>
</div>

<div class="sm2-inline-element sm2-button-element">
 <div class="sm2-button-bd">
  <a href="#prev" title="Previous" class="sm2-inline-button previous" prev-track>&lt; previous</a>
</div>
</div>

<div class="sm2-inline-element sm2-button-element">
 <div class="sm2-button-bd">
  <a href="#next" title="Next" class="sm2-inline-button next" next-track>&gt; next</a>
</div>
</div>

<div class="sm2-inline-element sm2-button-element">
 <div class="sm2-button-bd">
  <a href="#repeat" title="Repeat playlist" class="sm2-inline-button repeat" repeat-music>&infin; repeat</a>
</div>
</div>

<div class="sm2-inline-element sm2-button-element sm2-menu">
 <div class="sm2-button-bd">
  <a href="#menu" class="sm2-inline-button menu">menu</a>
</div>
</div>

</div>

<div class="bd sm2-playlist-drawer sm2-element">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
 </div>

 <!-- playlist content is mirrored here -->

 <div class="sm2-playlist-wrapper">

  <ul class="sm2-playlist-bd">
    <li class="song-in-list" ng-repeat="sound in sounds" music-player='play'  add-song="sound" type="audio/mp3"><a><b>{{sound.title}}</b><span class="label">{{mixTitle}} Mix</span></a></li>
  </ul>

</div>

</div>

</div>

</body>
</html>